old_fredin
book
release
svg
text/people/html
text/people/source
*.pdf
*.zip
fredin.aux
fredin.log
!include/snippets/*-crop.pdf
!include/accent.pdf
!include/wessmans.pdf
!include/barcode-*.pdf
convert-config.pl
